<%= form_tag("/place_bid/#{auction_item.id}", method: :patch) do %>
  <%= number_field_tag "points", nil, class: "form-control" %>
  <div class="buttons">
    <%= submit_tag "Bid", class: "btn btn-success" %>
    <%= link_to "Back to Home Screen", "/auction_items", class: "btn btn-success" %>
  </div>
<% end %>
