<div>
    <%= image_tag(auction_item.image) %>
</div>

<div>Item Name: <%= auction_item.name %></div>
<div>Current Bid: <%= auction_item.highest_bid.points unless auction_item.highest_bid.nil? %></div>
<div>Highest Bidder: <%= auction_item.highest_bid.user.email unless auction_item.highest_bid.nil? %></div>
