<h1>
  <%= @auction_item.name %>
</h1>

<div class="error">
  <% if @errors.present? %>
    <% @errors.each do |error| %>
      <div><%= error %></div>
    <% end %>
  <% end %>
</div>


<%= render partial: "shared/body", locals: {auction_item: @auction_item} %>

<div>
  <%= render partial: "shared/bid_form", locals: {auction_item: @auction_item} %>
</div>
