<h1>Auction Items</h1>

<div class="items-wrapper">
  <% @auction_items.each do |item| %>

    <div class="item">
      <%= render partial: "shared/body", locals: {auction_item: item} %>
      <%= link_to "Bid", "auction_items/#{item.id}", class: "btn-success btn" %>
    </div>
  <% end %>
</div>
