<h1>
  <%= @auction_item.name %>
</h1>

<%= render partial: "shared/body", locals: {auction_item: @auction_item} %>

<div>
  <%= render partial: "shared/bid_form", locals: {auction_item: @auction_item} %>
</div>
