<h1>You've successfully bid for <%= @auction_item.name %>.</h1>

<%= render partial: "shared/body", locals: {auction_item: @auction_item} %>


<%= link_to "Increase your bid", "/auction_items/#{@auction_item.id}", class: "btn-success btn" %>
<%= link_to "Back to Home Screen", "/auction_items", class: "btn-success btn" %>
