@import "bootstrap";

body {
  padding-top: 70px;

  .wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;


    .item {
      flex: 1;
      margin: 10px 0px;
    }
  }

  .right {
    float: right;
  }

  .error {
    color: red;
  }
}
